<% provide(:title, 'Bewerbungstipps') %>



<div class="banner-wissen">
	<div class="container">
	</div>
</div>

<div class="container">
	<div class="row crossover-wissen">
		<div class="span9 offset1 box-crossover">
			<h2>Der Leitfaden zur erfolgreichen Bewerbung</h2>
		</div>
	</div>
	
	<div class="row logobar">
		<a href="http://www.karriere.at" target="_blank"><%= image_tag "karriereat.png"%></a>
		<a href="http://www.stellenangebote.at" target="_blank"><%= image_tag "stellenangebote.png"%></a>
		<a href="http://www.careesma.at" target="_blank"><%= image_tag "careesma.png"%></a>
		<a href="http://www.monster.at" target="_blank"><%= image_tag "monster.png"%></a>
		<a href="http://www.unijobs.at" target="_blank"><%= image_tag "unijobs.png"%></a>	
	</div>
	
	
<!-- BOX SELBSTANALYSE -->	

	<div class="row box-white row-marg-left-pos">
		<div class="span5">
			<h2>Selbstanalyse</h2>
			<ul class="checkmarks">
				<li>Lerne dich besser kennen</li>
				<li>Welches Persönlichkeitsprofil hast du?</li>
				<li class="linebreak-m100">Welche Berufe passen zu dir?</li>
				<li>Was sind deine Stärken?</li>
				<li>Was möchtest du erreichen?</li>
				<li class="linebreak-m100">Buchtipps:</li>
			</ul>
		</div>	
					
		<div class="span5 box-rechts">
			<p class="boxstyle margin-top-70">Hier findest du einen umfangreichen Persönlichkeitstest:</p>
			<a href="http://www.gerstbach.at/survey/index.php?sid=29748" target="_blank"><%= image_tag "gerstbach.png"%></a>
			<p class="boxstyle margin-top-50">Beantworte diesen Test und finde heraus was deine Traumjobs sind:</p>
			<a href="http://www.berufskompass.at" target="_blank"><%= image_tag "berufskompass.png"%></a><br>
			<a href="http://www.amazon.de/Traum-Job-Now-Geheimnisse-erfolgreichen/dp/345368009X/ref=sr_1_1?ie=UTF8&qid=1358103987&sr=8-1" target="_blank"><%= image_tag "traumjob.jpg", class: "book" %></a>
			<a href="http://www.amazon.de/Finde-den-dich-gl%C3%BCcklich-macht/dp/359338390X/ref=sr_1_2?ie=UTF8&qid=1358103987&sr=8-2" target="_blank"><%= image_tag "jobglueck.jpg", class: "book" %></a>
			<a href="http://www.amazon.de/Eigentlich-w%C3%A4r-ich-gern/dp/3593390965/ref=sr_1_5?ie=UTF8&qid=1358190357&sr=8-5" target="_blank"><%= image_tag "eigentlich.jpg", class: "book" %></a>
		</div>		
	</div>

	<!-- BOX UNTERLAGEN-->

	<div class="row box-white row-marg-left-pos">
		<div class="span5">
			<h2>Unterlagen</h2>
			<ul class="checkmarks">
				<li>Welche Bewerbungsunterlagen werden verlangt?</li>
				<li>Verwende das modernste Design</li>
				<li id="linebreak-m100">Wie kannst du beeindrucken?</li>
				<li>Tipps und Tricks für deine Bewerbung</li>
				<li>Ein eigenes Video kann den Unterschied ausmachen</li>
			</ul>
			<a href="signup" class="btn btn-success btn-large">Mein BewerbungsClip</a>
		</div>					

		<div class="span5 box-rechts">
			<p class="boxstyle margin-top-70">Die besten Vorlagen & Muster für deine Bewerbung:</p>
			<a href="http://www.bewerbungsmappen.de" target="_blank"><%= image_tag "bewerbungsmappen.png" %></a>
			<p class="boxstyle margin-top-50">Hier findest du 2 sehr informative Videos zum Thema Unterlagen:</p>
			<a href="http://www.youtube.com/watch?v=97-_essbX-w" target="_blank"><%= image_tag "youtube.png", class: "youtube"%></a>
			<a href="http://www.youtube.com/watch?v=ccRZfDIqPA4" target="_blank"><%= image_tag "youtube.png", class: "youtube"%></a>
		</div>
	</div>
	
	<!-- BOX VORBEREITUNG -->	

	<div class="row box-white row-marg-left-pos">
		<div class="span5">
			<h2>Vorbereitung</h2>
			<ul class="checkmarks">
				<li>Erstelle ein Firmenprofil</li>
				<li>Was sind deine zukünftigen Aufgaben?</li>
				<li>Bring dich ins rechte Licht</li>
				<li>Zeig was in dir steckt und lass die anderen Bewerber alt aussehen</li>
			</ul>
		</div>

		<div class="span5 box-rechts">
			<p class="boxstyle margin-top-70">Alles was du bei der Vorbereitung beachten musst:</p>
			<a href="http://www.bewerbung-tipps.com/bewerbungsvorbereitung.php" target="_blank"><%= image_tag "bewerbungstipps.png"%></a>
			
			<p class="boxstyle margin-top-50">Ein weiterer Bericht zur Vorbereitung:</p>
			<a href="http://bewerbung.careesma.at/2011/04/jobinterview-vorbereitung/" target="_blank"><%= image_tag "careesma.png"%></a>
		</div>
	</div>
			
			
			
	<!-- BOX ÜBERZEUGEN -->	

	<div class="row box-white row-marg-left-pos">
		<div class="span5">
			<h2>Überzeugen</h2>
			<ul class="checkmarks">
				<li>Dresscode</li>
				<li>Pünktlichkeit</li>
				<li>Das richtige Auftreten</li>
				<li>Zeige deine Motivation</li>
			</ul>
		</div>

		<div class="span5 box-rechts">
			<p class="boxstyle margin-top-70">Eine Einladung zum Bewerbungsgespräch? Klasse! <br>e-fellows hat einen tollen Bericht dazu geschrieben:</p>
			<a href="http://www.e-fellows.net/KARRIEREWISSEN/Im-Fokus/Bewerbungsgespraeche2" target="_blank"><%= image_tag "efellows.gif"%></a>
			
			<p class="boxstyle margin-top-50">Eine gute Anleitung zur Selbstpräsentation:</p>
			<a href="http://www.karriere.at/c/bewerbungsgespraech-vorbereitung" target="_blank"><%= image_tag "karriereat.png"%></a>
		</div>
	</div>

</div>