<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div class="span6">
      <div id="error_explanation" class="span5">
        <h4><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h4>

        <ul>
        <% @template.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="span6">

    <div class="field">
      <%= f.hidden_field :user_id, value: params[:user_id] %>
    </div>

    <div class="field">
      <%= f.hidden_field :vorname, value: params[:vorname] %>
    </div>

    <div class="field">
      <%= f.hidden_field :nachname, value: params[:nachname] %>
    </div>

    <div class="span5 field margin-top-35">
      <%= f.text_field :for_company, placeholder: "Profil für Firma", title: "Bitte dieses Feld freilassen, wenn du einen BewerbungsClip für mehrere Unternehmen machst." %>
    </div>

    <div class="span5 field">
      <%= f.file_field :video %>
    </div>

    <div class="span2">
      <%= f.submit "Profil erstellen", class: "btn btn-large btn-warning btn-form" %>
    </div>
<% end %>

    <div class="span1">
      <%= link_to 'abbrechen', templates_path, class: "btn btn-large btn-form" %>
    </div>

  </div>

