<div class="banner">
</div>
  <div class="container">

    <div class="row templates-show-row">
      <div class="span12 user-show-box">
        <div class="span11">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>

    <% if @user.templates.any? %>
      <div class="span12">
        <h2>Übersicht</h2><br>
      </div>

      <div class="span5 el1">
        <h4>BewerbungsClip für</h4>
      </div>
      <div class="span2 el2">
        <h4>Kennwort</h4>
      </div>
      <div class="span1 el3">
        <h4>besucht</h4>
      </div>
      <div class="span2 el4">
        <h4>zuletzt</h4>
      </div>

    <% else %>
      <div class="span12">
        <h2>Erstelle dein erstes Profil hier:</h2>
      </div>
    <% end %>

        <% @user.templates.each do |template| %>

          <div class="span5 el1">
            <h5><%= template.for_company %>
              <% if template.for_company.empty? %>Allgemeines Profil<% end %></h5>
          </div>
          <div class="span2 el2">
            <h5><%= template.bosskey %></h5>
          </div>
          <div class="span1 el3">
            <h5><%= ('0'..'9').to_a.shuffle.first(1).join %> mal</h5>
          </div>
          <div class="span2 el4">
            <h5><%= template.created_at.strftime("%d.%m. %Rh") %></h5>
          </div>
          <div class="span3 special el5">
            <%= link_to 'anzeigen', template, class: "btn btn-small btn-primary size" %>
            <%= link_to 'löschen', template, class: "btn btn-small btn-danger size", method: :delete, data: { confirm: 'Willst du das Profil wirklich unwiderruflich löschen?' } %>
          </div>
          
        <% end %><br>

      <div class="span6">
      <%= link_to 'neues Profil erstellen', new_template_path(user_id: @user.id, vorname: @user.vorname, nachname: @user.nachname, fingerprint: @user.fingerprint), class: "btn btn-large btn-warning btn-form" %>
      </div>
      </div>
    </div>
  </div>