<div class="banner">
	<div class="container">

		<div class="row template-show-row">
			<div class="span10 offset1 template-show-box">

				<% flash.each do |key, value| %>
			    <div class="alert alert-<%= key %>">
			    	<%= value %>
			    </div>
			  <% end %>

			  <h3 class="center showtemplate-style">
			  	BewerbungsClip von<br><%= "#{@template.vorname} #{@template.nachname}" %></h3>
			  <h4 class="center">
			  	<% if @template.for_company.empty? %>
			  	<% else %>für <%= @template.for_company %>
			  	<% end %>
			  </h4>


			    <div class="video center">
			      <%= video_tag @template.video, size: "570x500", controls: true %>
			    </div>

			</div>
		</div>
		<div class="row button-down">
			<div clas="span2">
				<% if current_user.id == @template.user_id %>
				<%= link_to 'Zurück', templates_path, class: "btn size" %>
			<% end %>
			</div>
		</div>

	</div>
</div>