<div class="banner">
	<div class="container">

		<div class="row template-show-row">
			<div class="span10 offset1 template-show-box">

				<% flash.each do |key, value| %>
			    <div class="alert alert-<%= key %>">
			    	<%= value %>
			    </div>
			  	<% end %>

			  	<h3 class="center showtemplate-style">
			  	BewerbungsClip von <%= "#{@template.vorname} #{@template.nachname}" %></h3>

			    <div class="video center">
			      <%= video_tag @template.video, size: "570x500", controls: true %>
			    </div>

			</div>
		</div>
		<div class="row button-down">
			<div clas="span2">
				<% if signed_in? %>
					<% if current_user.fingerprint == @template.fingerprint %>
					<%= link_to 'zurück', templates_path, class: "btn btn-small btn-form" %>
					<% end %>
				<% end %>

			</div>
		</div>

	</div>
</div>