<% provide(:title, 'Einstellungen') %>
<div class="banner">
</div>

<div class="row container up-and-away">
  <div class="span5 offset3 signup-box">
    <div class="span4">
      <h2>Bearbeite dein Konto</h2></br>
    </div>
<%= form_for(@user) do |f| %>
      <div class="span4">
        <%= render 'layouts/error_messages' %>
      </div>
      
      <div class="span4">
        <%= f.label :email, "Emailadresse" %>
        <%= f.text_field :email %>
      </div>

      <div class="span4">
        <%= f.label :password, "Passwort" %>
        <%= f.password_field :password %>
      </div>

      <div class="span4">
        <%= f.label :password_confirmation, "Passwort-Wiederholung" %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="span2">
        <%= f.submit "Änderungen speichern", class: "btn btn-large btn-success btn-form" %>
      </div>
<% end %>
  </div>

</div>

