<% provide(:title, 'Einstellungen') %>

<div class="banner">
  <div class="container">
    <div class="row">

      <div class="span5 offset3 konto-box">

        <div class="span4">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>

        <div class="span4">
          <h2>Dein Konto</h2>
        </div>

        <div class="span4">
          <h3>Name:</h3>
          <h4><%= "#{@user.vorname} #{@user.nachname}" %></h4>
        </div>

        <div class="span4">
          <h3>Emailadresse:</h3>
          <h4><%= "#{@user.email}" %></h4>
        </div>

        <div class="span3">
          <%= link_to "Kontodaten ändern", edit_user_path(current_user), class: "btn btn-large btn-form" %>
        </div>

        <div class="span3">
          <%= link_to "Konto freischalten", '#', class: "btn btn-large btn-success btn-form" %>
        </div>

      </div>

    </div>
  </div>
</div>

